<header class="w-full h-[30%] flex justify-center">
   <main class="w-[75%] bg-blue-600 h-full rounded-b-lg">
     <section class="flex justify-center mt-2">
        <img src="../assets/png/NoteBook.png" alt="NoteBook" width="90px" >
     </section>
     <section>
        <h1 class="text-center text-white font-bold text-xl font-sans">EasyTask</h1>
        <h3 class="text-center text-white font-light font-sans">EnterPrise-level Management without friction</h3>
     </section>
   </main>
</header>