<app-header />
<div class="flex h-[24.8rem] mt-5">
    <div class="w-[35%]">
        <section *ngFor="let item of userDatas" class="mt-3" >
            <app-user [profileName]="item.name" [profilePicture]="item.avatar" [userId]="item.id" (selectedUser)="getSelectedUserId($event)" />
        </section>
    </div>
    <div class="w-[52.3%] h-[100%] mt-3 bg-sky-700 rounded-md">
        <app-task [userName]="selectedUserName" />
    </div>
</div>

<!-- @for (user  of userDatas; track user.id) {
    <p></p>
} -->

<router-outlet />