<main class="h-[3.5rem]">
    <div class="relative">
        <section (click)="handleClickEvent(userId())" class="absolute left-[31%] w-[60%] h-14 bg-sky-800 rounded-md cursor-pointer hover:bg-sky-900 hover:shadow-2xl shadow-red-800">
            <div class="flex items-center gap-5 h-full absolute left-3">
                <img [src]="getImageWithPath" class="profile-image-user" alt="NoteBook" width="90px">
                <p class="font-sans font-semibold text-white">{{profileName()}}</p>
            </div>
        </section>
    </div>
</main>